.sideMenu
  .sideMenu-header
    .sideMenu-headerTop
      %p.sideMenu-headerTop__name masa
      .sideMenu-headerTop__icons
        = link_to "#" do
          = icon('far', 'edit', class: 'edit')
        = link_to "#" do
          = icon('fas', 'cog', class: 'cog')
  .sideMenu-main
    .sideMenu-main__group
      %p.sideMenu-main__groupName techcamp
      %p.sideMenu-main__groupMessage まだメッセージありません


