.wrapper{
  display: flex;
  .sideMenu{
    $width: 300px;
    height: 100vh;
    background-color: #253141;
    $color: #ffffff;
    color: $color;
    font-weight: bold;
    &-header{
      width: $width;
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      justify-content: center;
      &Top{
        margin: 0 auto;
        width: 260px;
        $height: 20px;
        display: flex;
        justify-content: space-between;
        &__name{
          height: $height;
        }
        &__icons{
          width: 60px;
          height: $height;
          display: flex;
          justify-content: flex-end;
          .edit{
            color: $color;
          }
          .cog{
            margin-left: 5px;
            color: $color;
          }
        }
      }
    }
    &-main{
      width: $width;
      height: calc( 100vh - 100px);
      background-color: #2f3e51;
      &__group{
        width: calc($width - 40px);
        height: auto;
        padding: 20px 20px 40px 20px;
        &Name{
          color: #ffffff;
          font-size: 15px;
          margin-bottom: 5px;
        }
        &Message{
          color: #ffffff;
          font-size: 11px;        
        }
        .edit{
          text-decoration: none;
        }
      }
    }
  }
  .mainChat{
    $width: calc( 100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
    &-header{
      width: $width;
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
        &__group{
          margin: 35px 0 0 40px;
          &Name{ 
            color: #333333;
            font-size: 20px;
            margin-bottom: 15px;
          }
          &Menber{
            color: #999999;
            font-size: 12px;
          }
        }
        &__edit{
          display: flex;
          .edit{
            display: block;
            padding: 6px 20px;
            margin: 28px 40px 0 20px;
            text-decoration: none;
            color: #38aef0;
            font-size: 16px;
            width: 72px;
            height: 40px;
            border: 1px solid #38aef0;
          }
        }
    }
    &-main{
      width: $width;
      height: calc( 100vh - 100px - 90px );
      background-color: #fafafa;
      &__messageList{
        width: auto;
        padding-top: 35px;
        margin-left: 40px;
        &-content{
          display: flex;
          padding-bottom: 12px;    
          .groupName{
            color: #333333;
            font-size: 16px;
          } 
          .inputDate{
            color: #999999;
            font-size: 12px;
          }
        }
        &-message{
            color: #434A54;
            font-size: 14px;
            margin-bottom: 46px;
        }
      }
    }
    &-footer{
      background-color: #d2d2d2;
      width: $width;
      height: 90px;
      &__message{
        padding-top: 20px;
        display: flex;
        &Box{
          display: flex;
          &holder{
            position: relative;
            &--text{
              border-style: none;
              height: 50px;
              padding: 5px;
              margin-left: 40px;
              display: flex;
              width: calc(100vw - 500px);
            }
            .messageBox{
              display: none;
            }
            &--image{
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
              font-size: 13px; 
            }
            .icon{
              font-size: 25px;
            }
          }
          &--btn{
            border-style: none;
            width: 100px;
            height: 50px;
            padding: 0 30px;
            margin-left: 15px;
            background-color: #38aef0;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
}